hr.thick_line {
  display: block;
  height: 10px;
  border: 0;
  border-top: 5px solid #808080;
  margin: 1em 0;
  padding: 0;
}

.subsection {
  background-color: #DCDCDC;
}

.rostopic_mapper {
  background-color: #FF7F50;
}

.rosservice_mapper {
  background-color: #7FFF00;
}

.file_block {
  background-color: #FFD700;
}

.computer_block {
  background-color: #00FFFF;
}

.subsection {
  background-color: #DCDCDC;
}

.submit-computer-button {
  background: white;
}

.console_block {
  background-color: #FFD700;
}


/* Dropdown Content (Hidden by Default) */

.dropdown-content {
  background-color: #f9f9f9;
}


/* Links inside the dropdown */

.dropdown-content a {
  color: black;
}


/* Change color of dropdown links on hover */

.dropdown-content a:hover {
  background-color: #f1f1f1
}


/* Change the background color of the dropdown button when the dropdown content is shown */

.dropdown:hover .dropdown {
  background-color: #B3E5FC;
}
