.form-group {
  position: relative;
  left: 0px;
  padding: 5px;
  display: inline-block;
}

.btn-default {
  margin: 2px;
}

hr.thick_line {
  display: block;
  height: 10px;
  border: 0;
  border-top: 5px solid #808080;
  margin: 1em 0;
  padding: 0;
}

.subsection {
  background-color: #DCDCDC;
  padding-bottom: 5px;
  background-clip: content-box;
}

h2 {
  font-weight: bold;
  text-align: center;
}

h4 {
  font-weight: bold;
}


img.resize{
   height: 40px;
   width: 40px;
}

/*.message_group h4 {
  display: inline-block;
}*/

.rostopic_mapper {
  width: 50%;
  float: left;
  background-color: #FF7F50;
  border-style: solid;
  text-align: center;
}

.rosservice_mapper{
  width: 50%;
  float: right;
  background-color: #7FFF00;
  border-style: solid;
  text-align: center;

}

.network_block {
  margin: auto;
  position: relative;
  padding-bottom: 10px;
}

.file_block {
  width: 50%;
  background-color: #FFD700;
  border-style: solid;
  text-align: center;
  margin-top: 5px;
  float: left;
  margin-bottom: 5px;
}

.computer_block {
  width: 50%;
  background-color: #00FFFF;
  border-style: solid;
  text-align: center;
  margin-top: 5px;
  margin-bottom: 5px;
  float: right;
}
